*.pyc
*.ini
*.mo
*.iml
*.swp
*~
.coverage
.idea
.installed.cfg
.venv/
rc_branch
rc_user_*
apache/wsgi.conf
apache/application.wsgi
apache/tomcat-print.conf
deploy/hooks/pre-create-code
MANIFEST
buildout_branch.cfg
deploy/deploy-branch.cfg
deploy/conf/00-branch.conf
tomcat/WEB-INF/web.xml
tomcat/temp_*
*.egg-info
print3/static/index.html
docker-compose.yml
rancher-compose.yml
rc_dev
rc_int
rc_prod
print3/wsgi.py
nginx/nginx.conf
wsgi.log
