*.pyc
*.ini
*.mo
*.iml
*.swp
*~
.coverage
.idea
.installed.cfg
.venv/
rc_branch
rc_user_*
apache/wsgi.conf
apache/application.wsgi
apache/tomcat-print.conf
deploy/hooks/pre-create-code
node_modules
MANIFEST
buildout_branch.cfg
deploy/deploy-branch.cfg
deploy/conf/00-branch.conf
tomcat/WEB-INF/web.xml
tomcat/temp_*
*.egg-info
